{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Algorithms</h2>
        
        <form class="form-horizontal" role="form" action="{{ url_for('my_algorithms')}}" method="POST">
            <div class="form-group">
                <label for="my_string" class="control-label col-sm-3">String Checker:</label>
                <div class="col-sm-4">
                	<input type="text" class="form-control" id="my_string" name="my_string" />
                </div>
                <div class="col-sm-4">
                	{{string_check | safe}}
                </div>
            </div>
            <div class="form-group">
                <label for="factorize" class="control-label col-sm-3">Prime Factorization:</label>
                <div class="col-sm-4">
                	<input type="text" class="form-control" id="factorize" name="factorize" />
                </div>
                <div class="col-sm-4">
                	{{factorization | safe}}
                </div>
            </div>
            <div class="form-group">
            	<label for="submit" class="control-label col-sm-3"></label>
                <input type="submit" id="submit" class="btn btn-default" value="submit"/>
            </div>
        </form>
    </div>
</div>

{% endblock %}